.cliente {
    margin-top: 50px;
    text-align: center;
    line-height: 1.6;
}

.info {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 20px;
    line-height: 1.6;
}

hr {
    width: 30%;
    margin: 50px auto;
    border: 1px solid #C9C9C9;
}

.form{
    width: 40%;
    border: 1px solid #C9C9C9;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.field {
    padding: 20px;
}
.field input{
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #C9C9C9;
}
.field textarea{
    width: 100%;
    height:150px;
    border-radius: 5px;
    border: 1px solid #C9C9C9;
}
.field button {
    margin: 0;
    padding: 10px 20px;
    background-color: #4A70A9;
    border: none;
    color: #FFF;
    border-radius: 5px;
}
.field button:hover {
    cursor: pointer;
    background-color: #8FABD4;
}