/* ============================================
   RESET GLOBAL
============================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Century Gothic", sans-serif;
  background-color: #f7f7f7;
}

/* === HEADER PRINCIPAL === */
.navbar {
  display: flex;
  justify-content: space-between; /* Logo - Menú - Extras */
  align-items: center;
  padding: 10px 50px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* ============================================
   NAVBAR PERSONALIZADA + BOOTSTRAP
============================================ */
/* LINKS NAVBAR — EFECTO ANIMADO */
.navbar-brand img {
  width: 55px;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
} 

.navbar-nav .nav-link {
  position: relative;
  font-weight: 600;
  font-size: 1.05rem;
  color: #000 !important;
  padding: 5px 0;
  transition: color 0.3s ease;
}

/* Línea animada */
.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

.carousel-item {
  padding: 40px 0;
  min-height: 500px;
}
.carousel-content {
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #e10600; /* rojo deportivo */
  transition: width 0.25s ease-in-out;
  border-radius: 2px;
}

/* Hover: muestra la línea */
.navbar-nav .nav-link:hover::after {
  width: 100%;
}

/* Hover color */
.navbar-nav .nav-link:hover {
  color: #e10600 !important;
}

/* Activo: línea siempre visible */
.navbar-nav .nav-link.active::after {
  width: 100%;
}

/* Activo: color destacado */
.navbar-nav .nav-link.active {
  color: #e10600 !important;
  font-weight: 700;
}
/* --- Sección texto + imagen --- */
.contenido {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.carousel-text {
  flex: 1;
  padding: 20px;
}
.carousel-image {
  flex: 1;
  text-align: center;
}
.carousel-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.carousel-indicators {
  bottom: -50px;
}
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}
@media (max-width: 768px) {
  .carousel-content {
    flex-direction: column;
  }
  .carousel-item {
    min-height: 600px;
  }
}

/* Footer */
footer {
  background-color: darkcyan;
  color: white;
  text-align: center;
  padding: 20px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.6;
}

/* style = "background-color: rgba(220, 227, 255, 0.261);" text-align:center; padding:15px; margin-top:20px;" */
